<a href="https://colab.research.google.com/github/grjadhav409/MCF7-inhibitors-prediction-using-ML/blob/main/5_3__model_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# lib

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# X and y

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1= pd.concat([pd.read_csv("/content/drive/MyDrive/Colab Notebooks/drug discovery/MCF7/data/X_rdkit.csv"), pd.read_csv("/content/drive/MyDrive/Colab Notebooks/drug discovery/MCF7/data/y_rdkit_class.csv")], axis=1)
df = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
df

,0,1,2,3,4,5,6,7,8,9,...,199,200,201,202,203,204,205,206,207,class
0,13.182830,-0.476693,13.182830,0.055287,0.201967,549.547,526.363,549.176067,204.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,13.199973,-0.440714,13.199973,0.222894,0.437852,416.416,399.280,416.139702,154.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,12.591705,-0.712759,12.591705,0.026745,0.240164,482.661,440.325,482.303224,192.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,14.202941,-1.166637,14.202941,0.131963,0.352801,520.607,492.383,520.166808,192.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
4,10.427797,-0.376551,10.427797,0.028222,0.529466,333.516,298.236,333.266779,136.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32297,11.970142,-0.183834,11.970142,0.183834,0.316266,446.532,424.356,446.141262,162.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
32298,12.104517,-0.199427,12.104517,0.199427,0.319567,455.543,434.375,455.141596,164.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
32299,12.642889,-0.364167,12.642889,0.018016,0.290333,566.783,516.383,566.371973,226.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
32300,14.696218,-1.170241,14.696218,0.122563,0.187356,638.576,615.392,638.178607,236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
32301,13.336314,-0.713877,13.336314,0.056006,0.191339,655.031,631.847,654.149056,236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
df2 =df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
df2

,0,1,2,3,4,5,6,7,8,9,...,199,200,201,202,203,204,205,206,207,class
0,13.182830,-0.476693,13.182830,0.055287,0.201967,549.547,526.363,549.176067,204.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,13.199973,-0.440714,13.199973,0.222894,0.437852,416.416,399.280,416.139702,154.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,12.591705,-0.712759,12.591705,0.026745,0.240164,482.661,440.325,482.303224,192.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,14.202941,-1.166637,14.202941,0.131963,0.352801,520.607,492.383,520.166808,192.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
4,10.427797,-0.376551,10.427797,0.028222,0.529466,333.516,298.236,333.266779,136.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32297,11.970142,-0.183834,11.970142,0.183834,0.316266,446.532,424.356,446.141262,162.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
32298,12.104517,-0.199427,12.104517,0.199427,0.319567,455.543,434.375,455.141596,164.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
32299,12.642889,-0.364167,12.642889,0.018016,0.290333,566.783,516.383,566.371973,226.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
32300,14.696218,-1.170241,14.696218,0.122563,0.187356,638.576,615.392,638.178607,236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
32301,13.336314,-0.713877,13.336314,0.056006,0.191339,655.031,631.847,654.149056,236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
X = df2.drop(['class'], axis = 1)
X

,0,1,2,3,4,5,6,7,8,9,...,198,199,200,201,202,203,204,205,206,207
0,13.182830,-0.476693,13.182830,0.055287,0.201967,549.547,526.363,549.176067,204.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13.199973,-0.440714,13.199973,0.222894,0.437852,416.416,399.280,416.139702,154.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12.591705,-0.712759,12.591705,0.026745,0.240164,482.661,440.325,482.303224,192.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14.202941,-1.166637,14.202941,0.131963,0.352801,520.607,492.383,520.166808,192.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,10.427797,-0.376551,10.427797,0.028222,0.529466,333.516,298.236,333.266779,136.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32297,11.970142,-0.183834,11.970142,0.183834,0.316266,446.532,424.356,446.141262,162.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32298,12.104517,-0.199427,12.104517,0.199427,0.319567,455.543,434.375,455.141596,164.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32299,12.642889,-0.364167,12.642889,0.018016,0.290333,566.783,516.383,566.371973,226.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32300,14.696218,-1.170241,14.696218,0.122563,0.187356,638.576,615.392,638.178607,236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32301,13.336314,-0.713877,13.336314,0.056006,0.191339,655.031,631.847,654.149056,236.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
y = df2["class"]
y

0        2
1        2
2        3
3        3
4        2
        ..
32297    3
32298    3
32299    3
32300    2
32301    1
Name: class, Length: 31996, dtype: int64

# model

### Data cleaning process is done. Now we are ready to train our model

We will use SVM with rbf kernel tuned  with heuristic finetuning

In [ ]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

pipe = Pipeline([('scaler', StandardScaler()), ('svc', SVC(kernel = 'rbf', C = 10))])
pipe.fit(X_train, y_train)
pipe.score(X_test, y_test)

0.4955619452431554

In [ ]:
import pandas as pd
import numpy as np

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [ ]:
print(classification_report(y_test, pipe.predict(X_test)))

              precision    recall  f1-score   support

           1       0.25      0.06      0.10      1659
           2       0.27      0.09      0.13      2115
           3       0.53      0.87      0.66      4225

    accuracy                           0.50      7999
   macro avg       0.35      0.34      0.30      7999
weighted avg       0.40      0.50      0.40      7999

### Let's use GridSearch to try out different models with different paramets. Goal is to come up with best modle with best fine tuned parameters

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt

In [ ]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto',probability=True),
        'params' : {
            'svc__C': [1,10,100,1000],
            'svc__kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'randomforestclassifier__n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'logisticregression__C': [1,5,10]
        }
    }
}

In [ ]:
scores = []
best_estimators = {}
import pandas as pd
for algo, mp in model_params.items():
    pipe = make_pipeline(StandardScaler(), mp['model'])
    clf =  GridSearchCV(pipe, mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': algo,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    best_estimators[algo] = clf.best_estimator_
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

In [ ]:
best_estimators

In [ ]:
best_estimators['svm'].score(X_test,y_test)

In [ ]:
best_estimators['random_forest'].score(X_test,y_test)

In [ ]:
best_estimators['logistic_regression'].score(X_test,y_test)

In [ ]:
best_clf = best_estimators['svm']

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, best_clf.predict(X_test))
cm

In [ ]:
import seaborn as sn
plt.figure(figsize = (10,7))
sn.heatmap(cm, annot=True)
plt.xlabel('Predicted')
plt.ylabel('Truth')

In [ ]:
class_dict

### Save the trained model

In [ ]:
!pip install joblib
import joblib 
# Save the model as a pickle in a file 
joblib.dump(best_clf, 'saved_model.pkl')

### Save class dictionary

In [ ]:
import json
with open("class_dictionary.json","w") as f:
    f.write(json.dumps(class_dict))